<?xml version="1.0"?>
<!--
/**
 * @category    SchumacherFM_Pgp
 * @package     Helper
 * @author      Cyrill at Schumacher dot fm / @SchumacherFM
 * @copyright   Copyright (c)
 * @license     http://www.gnu.org/licenses/gpl.html  GPL
 */
-->
<config>
    <modules>
        <SchumacherFM_Pgp>
            <version>1.0.0</version>
        </SchumacherFM_Pgp>
    </modules>

    <global>
        <models>
            <pgp>
                <class>SchumacherFM_Pgp_Model</class>
            </pgp>
            <core>
                <rewrite>
                    <email_template>SchumacherFM_Pgp_Model_Core_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <resources>
            <pgp_setup>
                <setup>
                    <module>SchumacherFM_Pgp</module>
                </setup>
            </pgp_setup>
        </resources>
        <blocks>
            <pgp>
                <class>SchumacherFM_Pgp_Block</class>
            </pgp>
        </blocks>
        <helpers>
            <pgp>
                <class>SchumacherFM_Pgp_Helper</class>
            </pgp>
        </helpers>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <pgp>
                    <file>pgp.xml</file>
                </pgp>
            </updates>
        </layout>
        <translate>
            <modules>
                <SchumacherFM_Pgp>
                    <files>
                        <default>SchumacherFM_Pgp.csv</default>
                    </files>
                </SchumacherFM_Pgp>
            </modules>
        </translate>
        <events>

        </events>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <SchumacherFM_Pgp/>
            </modules>
        </suite>
    </phpunit>
</config>